




@media screen and (max-width: 1366px) {

}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {

}


/* стили для sm-устройств */
@media screen and (max-width: 1024px) {

    .white {
        color: #fff;
        display: block;
        margin: 0 0 20px 0;
    }


}

/* стили для sm-устройств */
@media screen and (max-width: 992px) {
h1 {
    font-weight: 600;
    font-size: 45px;
}

  
}


/* Ipad*/ 
@media screen and (max-width: 830px) {

    h1 {
        font-weight: 600;
        font-size: 36px;
    }
    .menu__top {
        display: none;
    }

    .production__block3 {
        width: 50%;
        padding: 0 12px;
        margin: 0 0 30px 0;
    }

    .production {
        padding: 60px 0 30px 0;
        border-top: 1px solid #d8d8d8;
    }

    .production__block {
        width: 100%;
        padding: 0 12px;
        margin: 0 0 30px 0;
    }

    .production__inner2 {
        padding: 0 0px 0 24px;
        width: 50%;
    }

    .production__block2 {
        width: 100%;
        margin: 0 0 0 -12px;
        padding: 0 0;
    }

    h2 {
        font-size: 32px;
        font-weight: 600;
        margin: 0 0 40px 0;
    }

    .production__block4 {
        position: relative;
        width: 50%;
        padding: 0 12px;
        margin: 0 0 24px 0;
    }

    .ft__block {
        padding: 0 10px;
        width: 100%;
        margin-bottom: 30px;
    }

    .ft__block2 {
        padding: 0 10px;
        width: 33.333333333333%;
    }

    .mail {
        display: none;
    }

    .phone {
        display: none;
    }

    .burger {
        display: block !important;
    }

    .header-navigation-wr .menu__top {
        display: block !important;
        margin: 0 0 0 20px;
    }

    .header-navigation-wr .mail {
        display: block !important;
        margin: 30px 0 10px 20px;
    }

    .header-navigation-wr .phone {
        display: block !important;
        margin: 0 0 0 20px;
    }

    .menu__top li {
        padding: 0 0px;
    }

    .menu__top li a {
        position: relative;
        color: #000;
        font-weight: 300;
        font-size: 18px;
        text-decoration: none;
        margin: 0 0 0px 0;
        display: block;
        margin: 0 0 15px 0;
    }

    .poduct__block {
        width: 50%;
        padding: 0 7px;
        margin: 0 0 14px 0;
    }


    
}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
    .head__wrap {
        display: flex;
        margin: 0 0;
        flex-wrap: wrap;
    }

    .head__block {
        padding: 0 0px 30px 0;
        width: 100%;
    }

    .head_section {
        padding: 0 0 0px 0;
    }

    .ft__menu {
        padding: 0 0 0 30px;
    }
}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {

    .product {
        padding: 20px 0 70px 0;
    }

    .poduct__block {
        width: 100%;
        padding: 0 7px;
        margin: 0 0 14px 0;
    }

    header {
        padding: 30px 0 20px 0;
        background: #;
    }

    .production__block2 {
        width: 100%;
        flex-wrap: wrap;
        margin: 0 0 0 -12px;
        padding: 0 0;
    }

    .production__inner2 {
        width: 100%;
    }

    .production__block3 {
        width: 100%;
        padding: 0 12px;
        margin: 0 0 30px 0;
    }

    .production__block4 {
        position: relative;
        width: 100%;
        padding: 0 12px;
        margin: 0 0 24px 0;
    }

    .about__wrap {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
    }

    .about__block {
        width: 100%;
        padding: 0 15px;
    }

    .ft__block2 {
        padding: 0 10px;
        width: 100%;
    }

    .ft__menu {
        padding: 30px 0 30px 0px;
    }

    .about {
        padding: 70px 0 70px 0;
        border-top: 1px solid #d8d8d8;
    }

    .ft_title {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        margin: 20px 0 0 0;
    }

    .link {
        background: #212121;
        width: 100%;
        display: block;
        text-transform: uppercase;
        font-weight: 300;
        padding: 13px 0 12px 0;
        text-align: center;
        color: #fff;
    }

    h1 {
        font-weight: 600;
        font-size: 34px;
    }

    .mail {
        display: none;
    }

    .phone {
        display: none;
    }

    .white {
        display: block;
    }
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
  
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {

}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {

}